{{ define "main" }}
<section class="dark background background-04">
  <div class="container thank-you-hero vertical-center">
    <div class="row row-expand">
      <div class="col-md-12 text-center">
        <h1>
          ¡Tu suscripción ha sido confirmada!
        </h1>
        <p>
          En breve comenzarás a recibir contenido de valor sobre buenas prácticas de ingeniería y desarrollo de producto en tu bandeja de entrada.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="light no-padding-top">
  <div class="container vertical-center horizontal-center">
    <div class="row row-expand">
      <div class="col-md-12 text-center">
        <p>Mientras tanto, puedes echarle un vistazo a nuestro blog:</p>
        <p><a href="/blog/" class="button button-center">Visita nuestro blog</a></p>
      </div>
    </div>
  </div>
</section>
{{ end }}
