<div class="blog-item podcast-item">
  <div class="podcast-item-inner">
    <div class="podcast-widget">
      <iframe src="https://open.spotify.com/embed-podcast/episode/{{ .Params.podcast_episode_id }}" width="100%" height="
      100%" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
    <h2>Exeal Podcast</h2>
    <p class="episode-title">{{ .Title }}</p>
    <div class="cta">
      <a class="button button-green" target="_blank" href="https://open.spotify.com/episode/{{ .Params.podcast_episode_id }}">Escucha el podcast</a>
    </div>
  </div>
</div>

