<section id="{{ .id }}" class="{{ .className }}">
  <div class="container">
    <div class="row">
      <div class="col-md-2 d-none d-sm-none d-md-block">
        <h2>
          <img class="arrow-right" src="/assets/img/arrow-right-secondary.svg" />
        </h2>
      </div>
      <div class="col-md-10 col-sm-12">
        <h2>
          {{ .header }}
        </h2>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <ul class="row ticked-cross">
          <li class="col-md-12">{{ .negativeTake }}</li>
        </ul>
        <ul class="row ticked">
          <li class="col-md-12">{{ .positiveTake }}</li>
        </ul>
      </div>
    </div>
  </div>
</section>