<section id="{{ .id }}" class="{{ .className }}">
  <div class="container">
    {{- partial "arrow-header.html" (dict "header" .header) }}

    <div class="row">
      <div class="col-md-12">
        {{ range .paragraphs }}
          <p>
            {{ . }}
          </p>
        {{ end }}
      </div>
    </div>

    {{ if .callToAction }}
    <div class="row">
      <div class="col-md-12">
        <p>
          <a data-scroll="{{ .callToAction.scrollTo }}" href="#" class="button button-center">{{ .callToAction.text }}</a>
        </p>
      </div>
    </div>
    {{ end }}
  </div>
</section>