<header
  id="{{ .id }}"
  class="{{ .className }} hero hero-bg-img"
  style="background-image: url('{{ .backgroundImage }}')"
>
  <div class="hero-bg-img-mask bg-mask">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <h1>{{ .header | safeHTML }}</h1>
          <h4>{{ .subheader | safeHTML }}</h4>
          {{ range .paragraphs }}
            <p>{{ . | safeHTML }}</p>
          {{ end }}
          {{ if .callToAction }}
          <p>
            <a data-scroll="{{ .callToAction.scrollTo }}" href="#" class="button button-center">{{ .callToAction.text }}</a>
          </p>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</header>
