<section id="{{ .id }}" class="{{ .className }}">
  <div class="container">
    {{- partial "arrow-header.html" (dict "header" .header) }}

    <div class="row">
      <div class="col-12 justify-content-center align-items-center text-center">
        <p>{{ .subtitle | safeHTML }}</p>
      </div>
    </div>

    <div class="row">
      {{ range .steps }}
      <div class="col-xl-4 mb-3">
        <div class="box">
          <div class="flap flap-top-right"></div>
          <p class="price">- {{ .number }} -</p>
          <h3>{{ .title }}</h3>
          <p>{{ .description }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>