<form accept-charset="UTF-8" method="POST" action="https://leadhub-backend.ne2.studio/api/forms/ppardalj/submit">
  <div class="row">
    <div class="col-md-12 form-group">
      <input class="form-control" id="name" name="name" type="text" placeholder="{{ i18n "fieldname" }}" required/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 form-group">
      <input class="form-control" id="company" name="company" type="text" placeholder="{{ i18n "fieldcompany" }}"/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 form-group">
      <input class="form-control" id="position" name="position" type="text" placeholder="{{ i18n "fieldposition" }}"/>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <textarea class="form-control" id="message" name="message" placeholder="{{ i18n "fieldcontactmsg" }}" required></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 form-group">
      <input class="form-control" id="email" name="email" type="email" placeholder="{{ i18n "fieldemail" }}" required/>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <input class="btn-submit" type="submit" name="submit" value="{{ i18n "btnsend" }}" />
    </div>
  </div>
</form>
