<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ i18n "navservices" }}
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="/team-coaching/">Team Coaching</a>
    <a class="dropdown-item" href="https://www.exeal.com/">Cursos</a>
  </div>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownResources" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ i18n "navresources" }}
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownResources">
    <a class="dropdown-item" href="/newsletter/">{{ i18n "navmailinglist" }}</a>
    <a class="dropdown-item" href="/blog/">Blog</a>
  </div>
</li>

<li class="nav-item">
  <a class="nav-link nav-button" href="/contacto/">Contacto</a>
</li>
