<script src="https://f.convertkit.com/ckjs/ck.5.js"></script>
<form
  action="https://app.kit.com/forms/7608370/subscriptions"
  method="post"
>
  <div>
    <div>
      <label for="first_name">Nombre</label>
      <input
        class="form-control"
        type="text"
        name="first_name"
        class="required text"
        id="first_name"
        value=""
        placeholder="Tu nombre"
        required
      />
    </div>
    <div>
      <label for="email_address">Email</label>
      <input
        class="form-control"
        type="email"
        name="email_address"
        class="required email"
        id="email_address"
        value=""
        placeholder="Tu email"
        required
      />
    </div>
    <div class="mt-3">
      <input
        type="submit"
        name="subscribe"
        class="button"
        value="Suscribirme a la newsletter"
      />
    </div>
  </div>
</form>
