.collapsable {
  cursor: pointer;
  width: 100%;
  height: 50px;
  text-align: center;
  color: $secondary-color;
}

.collapsable .image {
  content: url("/assets/img/arrow-collapse.svg");
  position: relative;
  top: calc(100% - 15px);
  margin-left: 80%;
  transform: rotate(180deg);
}

.collapsable.collapsed .image {
  transform: unset;
}

@media (max-width: 768px) {
  .collapsable {
    width: 80%;
    margin-left: 1em;
    margin-right: 1em;
  }

  .collapsable .image {
    margin-left: calc(100% + 0.2em);
  }
}
