@import "foundation/reset";
@import "foundation/variables";
@import "foundation/fonts";
@import "foundation/buttons";
@import "foundation/article";

html {
  font-size: $base-font-size;
}

body {
  font-family: $p-font, Sans-Serif;
  letter-spacing: 0.02rem;
  line-height: 1.75rem;
}

.light {
  background-color: white;
  color: $dark-background-color;
}

.gloaming {
  background-color: $gloaming-background-color;
}

.gray {
  background-color: $gray-background-color;
}

.dark {
  background-color: $dark-background-color;
  color: white;
}

.black {
  background-color: black;
}

section {
  padding-top: 3em;
  padding-bottom: 3em;
}

h1 {
  font-size: 1.875em;
  line-height: 1.25em;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  font-family: $h1-font, sans-serif;
  font-weight: normal;
  font-style: normal;
}

h2 {
  font-size: 1.5em;
  font-family: $h2-font, sans-serif;
  font-weight: normal;
  font-style: normal;
  margin-bottom: 1.25em;
}

h2 em {
  border-bottom: 3px solid $primary-color;
}

h3 {
  font-size: 1.375em;
  margin-bottom: 1.25em;
  font-family: $h2-font, sans-serif;
  font-style: italic;
  font-weight: bold;
}

h4 {
  font-size: 1.375em;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  font-family: "Avenir Book", sans-serif;
}

section p {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

p em {
  font-style: italic;
  font-weight: bold;
}

li em {
  font-weight: bold;
}

img.avatar {
  width: 6em;
  height: 6em;
}

@media (min-width: 992px) {
  div.container img.img-fluid.pad {
    padding: 1.5em;
  }
}

div.icon-container {
  min-height: 5.5em;
  display: flex;
}

sup {
  font-size: 0.75em;
}

.center-horizontal {
  margin-left: auto;
  margin-right: auto;
}

div.vertical-center {
  display: flex;
  align-items: center;
}

div.horizontal-center {
  display: flex;
  justify-content: center;
}

div.thank-you-hero {
  height: 25rem;
}

img.client-logo {
  padding: 0.2rem;
  max-width: 10rem;
}

.course-page-tagline h1 {
  margin-top: 0rem;
}

img.mockup-brochure {
  max-height: 14rem;
}

img.icon-mid {
  max-height: 6rem;
  margin-bottom: 1rem;
}

p.bigger {
  font-size: 1.25rem;
}

.row-expand {
  margin-left: auto;
  margin-right: auto;
}

@import "components/navbar";
@import "components/icons";
@import "components/boxes";
@import "components/arrows";
@import "components/footer";
@import "components/forms";
@import "components/tickedlist";
@import "components/courses/coursecard";
@import "components/courses/levelicons";
@import "components/legacy/main";
@import "components/testimonials";
@import "components/price";
@import "components/ourteam/membercards";
@import "components/ourteam/membermodals";
@import "components/leadmagnet/areas";
@import "components/newsletter/previousentries";
